@use '../abstracts/variables';

.hero {
  height: 100vh;
  background-color: variables.$third-color;
  color: variables.$text-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 0 10px variables.$shadow;

    .pseudo-nav {
        max-width: 90%;
        position: absolute;
        top: 0;
        width: 100%;
        padding: 1rem;

        .pseudo-nav__container {
            
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul {
            display: flex;
            gap: 1.5rem;
            list-style: none;

            :hover {
                text-shadow: 0 0 10px variables.$shadow;
            }
        }
    }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-logo {
      width: 350px;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    button {
      background-color: #fff;
      color: variables.$primary-color;
      border: none;
      padding: 0.75rem 2rem;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: variables.$secondary-color;
      }
    }
  }
}
