@use '../abstracts/variables';

.services {
  padding: 4rem 2rem;
  background-color: variables.$light-bg;

  .services__title {
    font-size: 2rem;
    font-weight: bold;
    color: variables.$primary-color;
    text-align: center;
    margin-bottom: 3rem;
  }
}