@use '../abstracts/variables';

.testimonials {
    padding: 7rem 2rem;
    background: linear-gradient(to bottom,
            lighten(variables.$secondary-color, 5%) 0%,
            variables.$secondary-color 100%);
    height: 70vh;

    .testimonials__title {
        font-size: 2rem;
        font-weight: bold;
        color: variables.$primary-color;
        text-align: center;
        margin-bottom: 3rem;
    }

    .testimonials__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}