@use '../abstracts/variables';

.testimonials {
    padding: 4rem 2rem;
    background: linear-gradient(to bottom,
            variables.$primary-color 0%,
            lighten(variables.$primary-color, 10) 100%);

    .testimonials__title {
        font-size: 2rem;
        font-weight: bold;
        color: variables.$primary-color;
        text-align: center;
        margin-bottom: 3rem;
    }

    .testimonials__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}