@use '../abstracts/variables';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px; // base para rems
}

body {
    font-family: variables.$font-main;
    background-color: variables.$light-bg;
    color: variables.$text-dark;
    line-height: 1.6;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button,
input,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
    background: none;
}

button {
    cursor: pointer;
}

section {
    padding: variables.$spacing-unit * 4 0;
}